.container {
  text-align: center;
  padding: 60px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn,
.btnOutline {
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
}

.btn {
  background: black;
  color: white;
}

.btnOutline {
  border: 2px solid black;
  color: black;
}
