.wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.card {
  width: 100%;
  max-width: 450px;
  background: white;
  padding: 40px 35px;
  border-radius: 14px;
  box-shadow: 0 6px 30px rgba(0,0,0,0.08);
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input,
.form input {
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mainBtn {
  margin-top: 10px;
  background: black;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.mainBtn:hover {
  opacity: 0.85;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.switch {
  text-align: center;
  margin-top: 18px;
}

.switch a {
  font-weight: bold;
}
