.footer {
  background: #000b3f;
  color: white;
  padding: 25px 40px;
  width: 100%;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left img {
  margin-left: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}

.divider {
  width: 2px;
  height: 25px;
  background: white;
}

.line {
  width: 100%;
  height: 2px;
  background: white;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-weight: 600;
}
