.navbar {
  width: 100%;
  height: 85px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navLinks li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
}
