* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, 'Roboto', sans-serif;
  background-color: #fff;
  color: #111;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layoutContainer {
  min-height: 100vh;        /* full page height */
  display: flex;
  flex-direction: column;   /* vertical layout */
}

.layoutMain {
  flex: 1;                  /* fills the space between Nav + Footer */
}
